
*{
    margin:0%;
    box-sizing: border-box;
 }
 html, body, div, img {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1;
}
.container {
    flex-wrap: wrap;
    display: flex;
    margin: 0;
    
}
.item {
    flex: 1;
    margin: 5px;
     padding: 5px;
     width: 550px;
    height: 300px;
}

.banner-text{
    background:  url("Images/header.jpg");
    width: 100%;
    background-size: cover;
}
.top-bar{
    background-color: #141886;
    display: -webkit-box;
    display: -webkit-flex;  
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: auto;
}
.logo{
    color: #fff;
    -webkit-box-flex: 2;
    -webkit-flex:2;
    -ms-flex: 2;
    flex: 2;
    font-size: 40px;
    padding: 18px;
    text-transform: uppercase;  
}
.menu{
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex:;
    -o-flex: ;
    -webkit-box-flex:1;
    flex: 1;
}

.menu ul{
    display: -webkit-box;
    display: -webkit-flex;  
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin-top: 30px;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;

}
.menu ul li{
    -webkit-box-flex: 1;
    -webkit-flex:1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;

}

.menu ul li a{
color: #fff;
font-size: 20px;
text-decoration: none;

}
.banner-text{
    display: -webkit-box;
    display: -webkit-flex;  
    display: -ms-flexbox;
    display: flex;
    padding: 15% ;
}
.banner-text-item{
    color: #ffffff;
    margin: auto;
    text-align: center;
    width: 50%;
    

}
.banner-text-item h2{
    font-size: 18px;

}
.banner-abt{
    display: -webkit-box;
    display: -webkit-flex;  
    display: -ms-flexbox;
    display: flex;
    padding: 15% ;
    background:  url("Images/header-abt.jpg");
    width: 100%;
    background-size: cover;
    text-align: center;

}
.banner-text-item-abt{
    color: #fff;
    margin:auto;
    text-align: center;
    width: 50%;


}
.banner-text-item-abt h2{
    font-size: 18px;
    
}
.main-content{
    display: -webkit-box;
    display: -webkit-flex;  
    display: -ms-flexbox;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    display: flex;
    flex-flow: row wrap;
    padding: 5% 0;    

}
.main1{
    -webkit-box-flex: 1;
    -webkit-flex:1;
    -ms-flex: 1;
    flex: 1;
    padding: 3%;;
    text-align: center;
}
.main2{
    -webkit-box-flex: 1;
    -webkit-flex:1;
    -ms-flex: 1;
    flex: 1;
    padding: 3%;;
    text-align: center;
}
.main3{
    -webkit-box-flex: 1;
    -webkit-flex:1;
    -ms-flex: 1;
    flex: 1;
    padding: 3%;;
    text-align: center;
}

.contact-items{
    display: -webkit-box;
    display: -webkit-flex;  
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal; 
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    
}
.contact{
    background: url('images/header1.jpg');
    padding: 80px 0;
    background-size: cover;
    position: relative;
    z-index: 1;
    
}
.contact:before{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: -1;
}
.contact-items h2{
    color: #fff;
    font-size:40px;
    margin-bottom: 18px;
}
.contact-items input[type='text']{
    border-radius: 10px;
    margin-bottom: 15px;  
    padding: 15px;
    width: 50%;
}
.contact-items textarea{
    border-radius: 10px;
    height: 150px;
    padding: 15px;
    width: 50%;
}
.contact-items a{
    background: #5324d3;
    color: #fff;
    font-size: 20px;
    margin-top: 25px;
    padding: 15px 80px;
    text-decoration: none;
    border-radius: 14px;
}
.aText{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 3%;
}
.aText1{
    margin: 20px;
    -webkit-box-flex: 1;
    -webkit-flex:1;
    -ms-flex: 1;
    flex: 1;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;    
}
.aText2{
    padding: 3%;
    margin: auto;
    -webkit-box-flex: 1;
    -webkit-flex:1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
    text-decoration: none;
    font-size: 15px;    
}
.aText3{
    padding: 3%;
    margin: auto;
    -webkit-box-flex: 1;
    -webkit-flex:1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
    text-decoration: none;
    font-size: 15px;    
}
.aText h1{
    font-size: 25px;
    text-align: center;
}

.img-area{
    width: 100px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.single-img{
    padding: 0 20px 0 20px;
    width: 100px;
    height: auto;
}


.footer{
    background-color: #141886;
    display: -webkit-box;
    display: -webkit-flex;  
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 90px;
}


.about{
    font-size: 20px;
    display: flex;
    padding: 5px;
    -webkit-box-flex: 1;
    -webkit-flex:1;
    -ms-flex: 1;
    flex: 1;
    padding: 3%;
    text-align: center;



}

@media all and (max-width:500px)
{
    .top-bar{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal; 
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
   
.logoP{
    padding: 18px 0 0;
}

.menu ul{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal; 
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 0;
}
.menu ul li{
    padding: 5px;
}
.banner-text-item{
    width:100%;

}
.main-content{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal; 
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.aText{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal; 
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
}
@media all and (max-width:800px){
    .top-bar{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal; 
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .logoP{
        padding: 18px 0 0;
    }
       
 
    .menu ul{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal; 
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-top: 0;
    }
    .menu ul li{
        padding: 5px;
    }
    .banner-text-items{
        width:100%;
    }
    .banner-text-items h2{
        font-size: 1.5em;
    }
    .main-content{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal; 
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .aText{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal; 
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
   
}